.ibanner .da-slider {
	z-index: 0;
	position: relative;
	text-align: center;
}

.ibanner .da-slider .owl-item.active h2 {
	margin-top: 0px;
	opacity: 1;		
}

.ibanner .da-slider .owl-item.active p {
	margin-bottom: 32px;
	opacity: 1;	
}

.ibanner .da-slider .owl-item.active .da-link {
	margin-bottom: 0px;	
	opacity: 1;	
}


/* Styling Pagination*/

.ibanner .da-slider .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.ibanner .da-slider .da-img {
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}


@media (max-width: 999px) {
	
	.ibanner .da-slider h2 {
		font-size: 24px;
		max-width: 80%;
	}

	.ibanner .da-slider p {
		max-width: 80%;
	}

	.ibanner .da-slider .da-link {
		padding: 12px 32px;
	}
	.nx-slider-container {
		padding-top: 16px;
	}

	.utilitybar {
		height: auto;
	}

}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	.ibanner .da-slider h2 {
		font-size: 24px;
		max-width: 100%;
	}

	.ibanner .da-slider p {
		max-width: 100%;
		font-size: 13px;
	}

	.ibanner .da-slider .da-link {
		padding: 8px 32px;
	}

	.nx-slider-container {
		padding: 56px;
		padding-top: 0px;
	}
	
	.nx-slider-container {
		padding-top: 0px;
	}

	.da-img {
		min-height: 480px;
	} 	
	
}

@media (max-width: 580px) {
	.ibanner .da-slider h2 {
		display: block;
		clear: both;
	}

	.ibanner .da-slider p {
	}

	.ibanner .da-slider .da-link {
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media (max-width: 480px) {
}

/* Mobile devices */
@media (max-width: 359px) {
}
